<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/authstyle/tailwindcss-colors.css">
    <link rel="stylesheet" href="../static/authstyle/creategroup.css">
    <title>Enigma Desktop App</title>
    <link rel="icon" type="image/x-icon" href="../static/images/my-icon.ico">
</head>

<body>

    <!-- start: Chat -->
    <section class="chat-section">
              
        <div class="popup-container">
            <div class="popup-content">
                <ul>
                    <li><a href="create-group.html">Create Group</a></li>
                    <li><a href="starredmsg.html">Starred messages</a></li>
                    <li><a href="archieved.html">Archive</a></li>
                    <li><a href="setting.html">Settings</a></li>
                </ul>
            </div>
        </div>
        
        
        <div class="chat-container">
            <!-- start: Sidebar -->

            <!-- end: Sidebar -->
            <!-- start: Content -->
            
                <!-- start: Content side -->



                <!-- end: Content side -->
                <!-- start: Conversation -->
                <div class="conversation conversation-default active">
                    <div class="conversation-top">
                        <!-- Back Button -->
                        <button type="button" class="conversation-back">
                            <img src="../static/chatimg/Backward arrow sign.png" alt="Back">
                        </button>
                
                     
                
                        <!-- More Info Button -->
                        <div class="conversation-buttons">
                            <button type="button" class="notification-btn" aria-label="Notifications">
                                <i class="ri-notification-3-line"></i>
                            </button>
                            <button type="button" class="more-info-btn" aria-label="More Options">
                                <i class="ri-more-2-line"></i>
                            </button>
                        </div>
                    </div>
                
                    

                </div>
                

                <div class="heading-container">
                    <div class="heading-section">
                      <h1>Home</h1>
                    </div>
                    <div class="heading-section">
                      <h1>Enigma AI Network</h1>
                    </div>
                  </div>
       
            <!-- end: Content -->
        </div>
                    
    </section>
    <!-- end: Chat -->

    <script src="../static/mainjs/creategroup.js"></script>
</body>

</html>