<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../static/authstyle/incoming-call.css">
    <title>Enigma Desktop App</title>
    <link rel="icon" type="image/x-icon" href="../static/images/my-icon.ico">
</head>
<body>
    <div class="call-container">
        <div class="profile-container">
            <div class="image-wrapper">
                <img src="../static/chatimg/pic1.png" alt="Profile Pic" class="sender-image">
            </div>
            <div class="caller-name">M Amir 05 ❤</div>
            <div class="call-status">Audio Call</div>
        </div>
        
        
        
        <div class="buttons">
            <button style="all: unset; cursor: pointer;">
                <img src="../static/chatimg/📞 Decline.png" alt="" style="width: 60px; height: 60px;">
            </button>
            <button style="all: unset; cursor: pointer;">
                <img src="../static/chatimg/📞 Accept.png" alt="" style="width: 60px; height: 60px;">
            </button>
        </div>
        
    </div>
    <script src="../static/mainjs/incoming-call.js"></script>
</body>
</html>
