<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Enigma Desktop App</title>
  <link rel="icon" type="image/x-icon" href="../static/images/my-icon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/authstyle/style.css">
</head>
<body>
  <div class="phone-verification-container">
    <h1 class="brand-name">ENIGMA</h1>
    <div class="form-container">
      <h2>Enter your phone number</h2>
      
      <form>
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" placeholder="+1 123-456-7890" required>
        
        <div class="button-container">
          <button class="angled-button" type="submit">Send Code</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
