<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Enigma Desktop App</title>
  <link rel="icon" type="image/x-icon" href="../static/images/my-icon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/authstyle/resetpassword.css">
</head>
<body>

  <div id="custom-alert" class="custom-alert-overlay" style="display: none;">
    <div class="custom-alert-box">
        <img src="../static/chatimg/warning.png" alt="Warning" class="alert-icon">
        <p id="custom-alert-message"></p>
        <button onclick="hideCustomAlert()">OK</button>
    </div>
</div>

<div class="mobile-warning">
  <img src="../static/chatimg/display-not-1.png" alt="Not Supported">
  <p>Unsupported Media</p>
</div>

  <div class="phone-verification-container">
    <h1 class="header">
    <a href="signin" class="back-button">
      <img src="../static/chatimg/Backward arrow sign.png" alt="Back" />
    </a>
    <h1 class="brand-name">Reset Password</h1>
  </h1>
    <div class="form-container">
      <h2>Enter the email associated with your account and we'll send an email with OTP to reset your password.</h2>
      
      <form>
        <label for="phone">Enter register email</label>
        <input type="email" id="email" name="phone" placeholder="email" required>
        
        <div class="button-container" style="display: flex; justify-content: center; align-items: center;">
          <button class="angled-button" type="button">Send OTP</button>
        </div>
      </form>
    </div>
  </div>

  <script src="../static/mainjs/reset-password.js"></script>
</body>
</html>
